/* GiftCard.module.css */
.cardContainer {
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  flex: 1;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardContent {
  padding: 20px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px;
  color: #fff
}

.cardDescription {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.cardPricing {
  font-size: 2rem;
  color: yellow;
  font-weight: bold;
}

/* Add the following CSS to GiftCard.module.css */

.ctaButton {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  background-color: yellow;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.ctaButton:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  /* Adds a shadow on hover */
  transform: translateY(-2px);
  /* Slightly lifts the button on hover */
}

@media screen and ( width <= 500px) {
  .cardContainer{
    flex-direction: column;
  }
}