.track-order {
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .id-clr{
    color: gold;
  }
  .status-box {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  
  .status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    animation: blink 1s infinite;
  }

  .status-dot.red {
    background-color: red;
  }
  
  .status-dot.yellow {
    background-color: yellow;
  }
  
  .status-dot.green {
    background-color: green;
  }
  
  .status-dot.gray {
    background-color: gray; /* Fallback color */
  }
  
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .action-icons {
    display: flex;
    gap: 20px;
  }
  
  .action-icons i {
    color: rgb(30, 184, 30);
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .action-icons i:hover {
    transform: scale(1.2);
  }
  
  p{
    margin-bottom: 0 !important;
  }