.cardmain {
  width: 100vw;
  min-height: 10vh;
  background-color: #000000;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardmain h1 {
  color: #fdcf08;
  font-size: 2.5vw;
}

.cardmain .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardmain .cards .card {
  width: 20vw;
  height: 40vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1vw;
}

.card .cardimg {
  width: 100%;
  height: 80%;
}

.cardimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .cardcontent {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

.card .cardcontent .product_name {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .cardcontent .product_price {
  width: 30%;
  height: 100%;
  background-color: #fdcf08;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media (max-width: 1024px) {
  .cardmain h1 {
    font-size: 3vw;
  }

  .cardmain .cards .card {
    width: 30vw;
    height: 35vh;
  }

  .card .cardcontent {
    font-size: 2.5vw;
  }
}

@media (max-width: 768px) {
  .cardmain h1 {
    font-size: 4vw;
  }

  .cardmain .cards .card {
    width: 40vw;
    height: 30vh;
  }

  .card .cardcontent {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .cardmain h1 {
    font-size: 5vw;
  }

  .cardmain .cards .card {
    width: 80vw;
    height: 25vh;
  }

  .card .cardcontent {
    font-size: 4vw;
  }
}
