@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.menucards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* Allow the container to grow based on content */
      overflow-x: hidden;
}

.cardmain {
    width: 100vw;
    min-height: auto; /* Allow height to adjust based on content */
    background-color: #000000;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.cardmain h1 {
    color: #fdcf08;
    font-size: 2.5vw;
    margin-bottom: 1vw; /* Add space below the title */
    margin-left: 2rem; /* Align the title to the left */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    margin: 20px;
}


.card {
    width: 244px;
    height: 335px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 1);
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    background-color: white;
}
.card:hover {
  transform: translateY(20px);
}

.cardimg {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.cardimg img {
    width: 100%;
    height: 243px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
}

.cardcontent {
    height: 80px;
    background-color: #E7E7E7;
    width: 224px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    border-radius: 5px;
    bottom: 2%;
    left: 4%;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;


}
.left-card-content{
    position: absolute;
    bottom: 2%;
}
.product-name {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    line-height:1.5rem ;
    border-bottom: 1px solid #B1B1B1;
    width: 107px;
    padding: 5px;

}

.product-price {
    color: black;
    font-size: 1.3rem;
    padding: 5px;
    line-height: 27px;
    font-weight: 600;

}
.right-card-content{
    position: absolute;
    bottom: 35%;
    right:3%;
}
.right-card-content button{
width: 91px;
height: 32px;
border-radius: 6px;
border: none;
outline: none;
padding: 4px 7px;
gap: 10px;
background-color:#FDCF09 ;
font-weight: 600;
font-size: 14px;
line-height: 24px;

}

@media (max-width: 936px){
    .cardmain {
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .cardmain h1 {
       color: #fdcf08;
        font-size: 8.5vw;
        text-align: center;
    }
}