
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/* Base styles */
.details-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
}

.details-section .b1{
    position: absolute;
    right: 0%;
    transform: rotate(171deg);
    width: 15vw;
    height: auto;
    bottom: 60%;
}
.details-section .b3{
    position: absolute;
    left: 0%;
    width: 15vw;
    height: auto;
    bottom: 0%;
}

.details-section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 2rem 2.5rem;
    position: relative;
}

.details-section__container__left {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.details-section__container__left img {
    max-width: 100%;
    height: auto;
}

.details-section__container__right {
    flex: 1;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details-section__container__right h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    max-width: 100%;
    line-height: 72px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: rgb(255, 255, 255);
}

.details-section__container__right p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    max-width: 100%;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}


.name_container{
    display: flex;
    gap: 1rem;

}
.name_container__left{
    padding: 1rem 0;
    flex: 1;
    display: flex;
    justify-content: center;
}
.name_container__right{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.profile{
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.font-style1{
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif ;
    width: 131px;
}
.font-style2{
    font-size: 18px;
    font-weight: 400;
    font-family: "Cedarville Cursive", cursive !important;
    width: 129px;
}

/* Media queries for responsiveness */

@media (max-width: 1200px) {
    .details-section {
        height: 60%;
    }
    .details-section__container {
        padding: 2rem 1.5rem;
    }
}

@media (max-width: 992px) {
    .details-section__container__right h1 {
        font-size: 1.8rem;
        line-height: 60px;
    }

    .details-section__container__right p {
        font-size: 16px;
    }

    .font-style1,
    .font-style2 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .details-section {
        margin: 5rem 0;
    }
    .details-section__container {
        flex-direction: column;
    }
    .details-section__container__right{
        padding: 0 3rem;
    }
    .details-section__container__right h1 {
        font-size: 1.6rem;
        line-height: 50px;
    }

    .details-section__container__right p {
        font-size: 14px;
    }

    .font-style1,
    .font-style2 {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .details-section {
        margin: 0;
    }
    .details-section__container__right h1 {
        font-size: 1.4rem;
        line-height: 40px;
    }

    .details-section__container__right p {
        font-size: 12px;
    }

    .font-style1,
    .font-style2 {
        font-size: 12px;
    }

    .profile {
        width: 60px;
        height: 60px;

    }
}
