.header2 {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* padding-top: 6vw; */
  /* overflow-x: hidden; */
  min-height: 100vh;
}

/* {
  background-color: #fdcf08;
} */

.abt-btn {
  /* width: 30%; */
  font-size: 1.2vw;
  font-weight: 600;
  border: none;
  background: linear-gradient(45deg, #fdcf08, #f8a104);
  color: #000;
  padding: 1vw 2vw;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  cursor: pointer;
  transition: 0.5s;
}

.abt-btn:hover {
  background: linear-gradient(45deg, #f8a104, #fdcf08);
  /* border-radius: 2vw; */
  /* transform: scale(1.1); */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); */
}

.header-content2 {
  width: 50%;
  padding: 0 3vw;
  height: 50%;
  margin-top: 3rem;
  box-sizing: border-box;
}

.header-content2 h1 {
  font-size: 5vw;
  color: #fdcf08;
  padding: 7vw 0 2vw;
}

.header-content2 p {
  font-size: 1.5vw;
  color: white;
  line-height: 2vw;
}

.header-content2 button {
  font-size: 1.2vw;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  margin: 3vw 0;
  /* width: 213px;
  height: 57px; */
  text-align: center;
}

.header-images2 {
  width: 40%;
  height: auto;
  padding: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 3rem;
}

.header-images2 img {
  position: absolute;
}

.header-images2 .burger {
  z-index: 3;
  width: auto;
  height: 500px;
  /* left: 13%; */
  transform: translateY(-10%);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}



.header-images2 .tomato {
  z-index: 2;
  width: 147px;
  height: 147px;
  right: 3%;
  top: 20%;
  animation: float 3s ease-in-out infinite;
  display: none !important;
}

.header-images2 .chilli {
  z-index: 1;
  width: 213px;
  height: auto;
  top: -15%;
  left: -5%;
  /* transform: rotateX(-16.9deg); */
  animation: float 4s ease-in-out infinite;
  display: none !important;
}

.header-images2 .onion {
  z-index: 0;
  width: 181px;
  height: 181px;
  left: 13%;
  top: 20%;
  /* transform: rotateY(-51.41deg); */
  animation: float 2s ease-in-out infinite;
  display: none !important;
}
@media screen and (max-width: 1030px) {
  .header-images2 .burger {
    z-index: 3;
    width: auto;
    height: 350px;
    left: 5%;
    /* transform: translateY(-10%); */
    animation: float 6s ease-in-out infinite;
  }
  .radiant-background {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 970px) {
  .header-images2 .burger {
    z-index: 3;
    width: 355px;
    height: 335px;
    left: 5%;
    /* transform: translateY(-10%); */
    animation: float 6s ease-in-out infinite;
  }
  .header-images2 .tomato {
    z-index: 2;
    width: 127px;
    height: 127px;
    right: 0%;
    top: 20%;
    transform: rotate(30deg);
    animation: float 3s ease-in-out infinite;
  }
  .header-images2 .onion {
    z-index: 0;
    width: 161px;
    height: 161px;
    left: 13%;
    top: 20%;
    transform: rotateY(-51.41deg);
    animation: float 3s ease-in-out infinite;
  }
  .radiant-background {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 820px) {
  .header-images2 .tomato {
    right: -10%;
  }
}
@media (max-width: 800px) {
  .header2 {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
  }

  .header2 .header-content2 {
    width: 90%; /* Full width with some padding */
    padding: 2vw;
    text-align: center; /* Center align text for smaller screens */
  }

  .header-content2 h1 {
    font-size: 10vw;
    padding: 0vw 0 6vw;
  }

  .header-content2 p {
    font-size: 3.5vw; /* Adjust font size for smaller screens */
    line-height: 4vw; /* Adjust line height for readability */
    padding: 0 0 6vw;
  }

  .header-content2 button {
    font-size: 3.5vw;
    padding: 2vw 14vw;
    margin-bottom: 8rem;
    border-radius: 1vw;
  }

  .header2 .header-img2 {
    width: 80%; /* Adjust width for smaller screens */
    height: auto; /* Adjust height to auto for better responsiveness */
    padding: 2vw;
    margin-top: 3rem;
  }
  .header-img2 img {
    width: 100%; /* Adjust width to ensure it remains a circle */
    height: auto; /* Adjust height to auto for better responsiveness */
  }
  .header-images2 .burger {
    z-index: 3;
    width: 355px;
    height: 335px;
    left: 0%;
  }
  .header-images2 .tomato {
    z-index: 2;
    width: 127px;
    height: 127px;
    right: -20%;
    top: 17%;
  }
  .header-images2 .onion {
    z-index: 0;
    width: 161px;
    height: 161px;
    left: 13%;
    top: 15%;
  }
  .header-images2 .chilli {
    z-index: 1;
    width: 213px;
    height: auto;
    top: -50%;
    left: -15%;
  }
  .radiant-background {
    width: 370px;
    height: 370px;
  }
}

@media (max-width: 540px) {
  .header-images2 .burger {
    left: -42%;
  }
  .header-images2 .tomato {
    right: -17%;
    top: -50%;
  }
  .header-images2 .onion {
    left: -27%;
    top: -30%;
  }
  .header-images2 .chilli {
    top: -50%;
    left: -60%;
  }
}
@media (max-width: 430px) {
  .header-images2 .burger {
    z-index: 3;
    /* width: 325px; */
    height: 265px;
    left: -55%;
  }
  .header-images2 .tomato {
    z-index: 2;
    width: 107px;
    height: 107px;
    right: -45%;
    top: -30%;
  }
  .header-images2 .onion {
    z-index: 0;
    width: 151px;
    height: 151px;
    left: -23%;
    top: 25%;
  }
  .header-images2 .chilli {
    z-index: 1;
    width: 203px;
    height: auto;
    top: -50%;
    left: -60%;
  }
  .radiant-background {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 390px) {
  .header-images2 .burger {
    width: 305px;
    height: 250px;
    left: -50%;
  }
  .header-images2 .chilli {
    top: -40%;
    left: -80%;
  }
  .header-images2 .tomato {
    right: -50%;
    top: -20%;
  }
  .header-images2 .onion {
    left: -30%;
    top: 0%;
  }
}
@media (max-width: 360px) {
  .header-images2 .burger {
    width: 305px;
    height: 280px;
  }
  .header-images2 .chilli {
    width: 190px;
    top: -60%;
    left: -70%;
  }
  .header-images2 .tomato {
    right: -50%;
    top: -20%;
  }
  .header-images2 .onion {
    width: 140px;
    height: 140px;
    left: -25%;
    top: 0%;
  }
}

.radiant-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(254, 170, 84, 0.4) 0%,
    transparent 80%
  );
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}


/*  */

/***************************

call to action

***************************/
.sb-call-to-action {
  position: relative;
  padding: 30px 0;
  overflow: hidden;
}

.sb-download-btn {
  background-color: #231e41;
  border-radius: 11px;
  display: inline-block;
  margin-right: 15px;
  height: 55px;
  transform: scale(1.001);
  transition: 0.3s ease-in-out;
}
.sb-download-btn img {
  height: 100%;
}
.sb-download-btn:last-child {
  margin-bottom: 0;
}
.sb-download-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .sb-call-to-action {
    position: relative;
    padding: 60px 0;
  }

  .sb-download-btn {
    margin-bottom: 10px;
  }
  .sb-download-btn:last-child {
    margin-bottom: 0;
  }

  .sb-call-to-action {
    position: relative;
  }
  .sb-call-to-action .sb-cta-text {
    text-align: center;
    margin-bottom: 60px;
  }
}

/***************************

background

***************************/
.sb-bg-1 {
  border-left: solid 30px #000000;
  border-right: solid 30px #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sb-bg-1 div {
  width: 100%;
  position: relative;
}
/* .sb-bg-1 div:after {
  content: "";
  height: 40vw;
  width: 300%;
  background-color: #000000;
  position: absolute;
  top: 500px;
  left: -100%;
  transform: rotate(-30deg);
} */

.sb-bg-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250%;
  overflow: hidden;
}
.sb-bg-2 div {
  width: 100%;
  position: relative;
}
.sb-bg-2 div:after {
  content: "";
  height: 1200px;
  width: 1200px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: -20%;
  border-radius: 50%;
  border: solid 200px #111111;
}

.sb-bg-3 {
  background-color: #000000;
  width: 63%;
  height: 100%;
  position: absolute;
  /* border-left: solid 30px #060606; */
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .sb-bg-1 {
    border-left: solid 15px #0a0a0a;
    border-right: solid 15px #141313;
  }
  .sb-bg-1 div:after {
    height: 50vh;
    top: 450px;
  }

  .sb-bg-3 {
    width: 100%;
    border: none;
  }
}

.container {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .swiper-container {
    overflow: visible;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f2f3f5;
}

::-webkit-scrollbar-thumb {
  background: #f5c332;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.sb-about-text,
.sb-blog-list,
.sb-features,
.sb-popular,
.sb-reviews,
.sb-short-menu,
.sb-team {
  position: relative;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-6 {
  width: 45vw !important;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 9999;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.sb-cta-text {
  text-align: center;
  margin-bottom: 60px;
}
.sb-mb-15 {
  margin-bottom: 15px !important;
  font-size: 4rem;
}
.sup {
  vertical-align: bottom;
  font-size: 5rem;
}
.sb-title-lg {
  font-size: 100px;
}

@media (max-width: 1030px) {
  .sb-mb-15 {
    font-size: 3rem; /* Adjust this value if needed */
  }

  .sup {
    font-size: 4rem; /* Adjust this value if needed */
  }
  .sb-title-lg {
    font-size: 78px;
  }
}
@media (max-width: 768px) {
  .sb-title-lg {
    font-size: 68px;
  }
}
.sb-text {
  color: #6f6f87;
  margin: 0;
  font-size: 15px;
}
.sb-text.sb-text-xs {
  font-size: 12px;
}
.sb-text.sb-text-sm {
  font-size: 14px;
}
.sb-text.sb-text-lg {
  font-size: 16px;
}
.sb-mb-30 {
  margin-bottom: 30px !important;
}
/***************************

buttons

***************************/
.sb-btn {
  opacity: 1;
  border: none;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  transform: scale(1);
  height: 55px;
  letter-spacing: 0;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f5c332;
  transition: 0.3s ease-in-out;
}
.sb-btn .sb-icon {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 !important;
  margin: 0;
  width: 55px;
  height: 55px;
}
.sb-btn .sb-icon img {
  width: 22px;
}
.sb-btn span {
  white-space: nowrap;
  line-height: 55px;
  display: inline-block;
  padding: 0 20px 0 0;
  font-weight: 500;
}
.sb-btn:hover {
  filter: brightness(110%);
}
.sb-btn.sb-btn-gray {
  background-color: #f9fafc;
  box-shadow: 0 0 0 2px #ffffff;
}
.sb-btn.sb-btn-gray:hover {
  filter: brightness(102%);
}
.sb-btn.sb-btn-2 {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
.sb-btn.sb-btn-2 .sb-icon {
  background-color: #f5c332;
  transform: scale(0.95);
}
.sb-btn.sb-btn-2 span {
  padding: 0 0 0 15px;
}
.sb-btn.sb-btn-2.sb-btn-gray {
  background-color: transparent;
}
.sb-btn.sb-btn-2.sb-btn-gray .sb-icon {
  background-color: #0e0f0f;
  box-shadow: 0 0 0 2px #0d0d0d;
}
.sb-btn.sb-btn-2.sb-btn-gray:hover {
  filter: brightness(102%);
}
.sb-btn.sb-btn-icon .sb-icon {
  background-color: #f5c332;
  transform: scale(0.95);
}
.sb-btn.sb-btn-icon.sb-btn-gray {
  background-color: transparent;
}
.sb-btn.sb-btn-icon.sb-btn-gray .sb-icon {
  background-color: #121213;
}
.sb-btn.sb-btn-icon.sb-btn-gray:hover {
  filter: brightness(102%);
}
.sb-btn.sb-btn-text {
  background-color: #f5c332;
}
.sb-btn.sb-btn-text .sb-icon {
  background-color: #f5c332;
  transform: scale(0.95);
}
.sb-btn.sb-btn-text span {
  padding: 0 20px;
}
.sb-btn.sb-btn-text.sb-btn-gray {
  background-color: #151515;
}
.sb-btn.sb-btn-text.sb-btn-gray .sb-icon {
  background-color: #121212;
}
.sb-btn.sb-btn-text.sb-btn-gray:hover {
  filter: brightness(102%);
}
.sb-btn:focus {
  outline: inherit;
}

@media (max-width: 340px) {
  .sb-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/***************************
  
  mobile menu button
  
  ***************************/
.sb-info-btn,
.sb-menu-btn {
  margin-left: 15px;
  padding-top: 20px;
  width: 30px;
  height: 55px;
  cursor: pointer;
  display: none;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.sb-info-btn span,
.sb-info-btn span:after,
.sb-info-btn span:before,
.sb-menu-btn span,
.sb-menu-btn span:after,
.sb-menu-btn span:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #231e41;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
}
.sb-info-btn span,
.sb-menu-btn span {
  position: relative;
  margin: 7px 0 0;
}
.sb-info-btn span:after,
.sb-info-btn span:before,
.sb-menu-btn span:after,
.sb-menu-btn span:before {
  position: absolute;
}
.sb-info-btn span:before,
.sb-menu-btn span:before {
  top: -7px;
}
.sb-info-btn span:after,
.sb-menu-btn span:after {
  top: 7px;
}
.sb-info-btn.sb-active span,
.sb-menu-btn.sb-active span {
  transform: rotate(45deg);
}
.sb-info-btn.sb-active span:before,
.sb-menu-btn.sb-active span:before {
  transform: translate(0px, 7px) rotate(-90deg);
}
.sb-info-btn.sb-active span:after,
.sb-menu-btn.sb-active span:after {
  transform: translate(0px, -7px) rotate(-90deg);
}

.sb-info-btn {
  margin-left: 10px;
  width: 20px;
  display: flex !important;
}
.sb-info-btn span,
.sb-info-btn span:after,
.sb-info-btn span:before {
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.sb-info-btn.sb-active span,
.sb-info-btn.sb-active span:after,
.sb-info-btn.sb-active span:before {
  width: 20px;
  height: 2px;
  border-radius: 1px;
}

@media (max-width: 992px) {
  .sb-menu-btn {
    display: flex;
  }
}
/***************************

illustration 6

***************************/
.sb-illustration-6 {
  position: relative;
  padding-bottom: 75%;
}
.sb-illustration-6 .sb-burger {
  position: absolute;
  width: 100%;
  top: 1%;
  animation: anima3 3s infinite ease-in-out;
}
.sb-illustration-6 .sb-cirkle-1 {
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: solid 25px #ffffff;
  right: 3%;
  bottom: 10%;
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.09),
    0 3px 6px 0 rgba(0, 0, 0, 0.09);
  animation: anima3 3s 1s infinite ease-in-out;
}
.sb-illustration-6 .sb-cirkle-2 {
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #f5c332;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
  animation: anima1 2s 2s infinite ease-in-out;
}
.sb-illustration-6 .sb-cirkle-3 {
  position: absolute;
  top: 20%;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #f5c332;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
  animation: anima1 3s 3s infinite ease-in-out;
}
.sb-illustration-6 .sb-cirkle-4 {
  position: absolute;
  bottom: 5%;
  left: 15%;
  width: 10px;
  height: 10px;
  background-color: #f5c332;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
  animation: anima1 3s 4s infinite ease-in-out;
}
.sb-illustration-6 .sb-cirkle-5 {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 10px #ffffff;
  left: 25%;
  top: 30%;
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.09),
    0 3px 6px 0 rgba(0, 0, 0, 0.09);
  animation: anima3 3s 1s infinite ease-in-out;
}
.sb-illustration-6 .sb-pik-2,
.sb-illustration-6 .sb-pik-3 {
  position: absolute;
  width: 8%;
  opacity: 0.07;
}
.sb-illustration-6 .sb-pik-2 {
  right: 12%;
  top: 0;
  animation: anima2 3s 1s infinite ease-in-out;
}
.sb-illustration-6 .sb-pik-3 {
  top: 10%;
  left: 2%;
  animation: anima2 3s infinite ease-in-out;
}
.text-color {
  color: white !important;
}
sup {
  font-size: 30px;
  vertical-align: middle;
}
