/***************************

minicart

***************************/
.sb-minicart {
  border-top: solid 1px #0a0a0a;
  top: 121px;
  right: 25rem;
  height: calc(100vh - 120px);
  width: 100%;
  max-width: 403px;
  position: absolute;
  transform: translateX(100%);
  background-color: rgba(16, 16, 16, 0.92);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.05);
  border-left: solid 1px #080808;
  transition: 0.4s ease-in-out;
}
.sb-minicart.sb-active {
  transform: translateX(0);
}
.sb-minicart.sb-scroll {
  top: 91px;
  height: calc(100vh - 91px);
}
.sb-minicart .sb-minicart-content {
  position: relative;
  padding: 60px 60px 160px;
  height: 100%;
  overflow: scroll;
}
.sb-minicart .sb-minicart-content::-webkit-scrollbar {
  display: none;
}
.sb-minicart .sb-minicart-footer {
  border-top: solid 1px #0e0e0e;
  background-color: #000000;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}
.sb-minicart .sb-minicart-footer .sb-btn {
  margin: 0;
}
.sb-minicart .sb-minicart-footer .sb-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 10px !important;
}
.sb-minicart .sb-minicart-footer .sb-btn:last-child {
  margin-right: 0;
}

@media (max-width: 992px) {
  .sb-minicart {
    top: 90px;
    height: calc(100vh - 90px);
  }
  .sb-minicart .sb-minicart-content {
    padding: 30px 30px 120px;
  }
  .sb-minicart .sb-minicart-footer {
    padding: 30px;
  }
}
/***************************

menu

***************************/
.sb-menu-item {
  width: 100%;
  display: block;
}
.sb-menu-item .sb-cover-frame {
  display: block;
  background-color: #f2f3f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  transition: 0.3s ease-in-out;
}
.sb-menu-item .sb-cover-frame img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(1.001);
  transition: 0.3s ease-in-out;
}
.sb-menu-item .sb-card-tp {
  margin-bottom: 15px;
  padding-left: 15px;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sb-menu-item .sb-card-tp h4 {
  text-decoration: none;
}
.sb-menu-item .sb-card-tp .sb-card-title {
  width: calc(100% - 90px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  text-decoration: none !important;
  color: white; /* Change text color to white */
}
.sb-menu-item .sb-card-tp .sb-price {
  width: 60px;
  height: 60px;
  font-weight: 500;
  background-color: #f5c332;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb-menu-item .sb-card-tp .sb-price sub {
  font-size: 12px;
  font-weight: 400;
}
.sb-menu-item .sb-card-buttons-frame {
  display: flex;
  justify-content: space-between;
}
.sb-menu-item .sb-card-buttons-frame .sb-btn {
  margin: 0;
}
.sb-menu-item.sb-menu-item-sm {
  display: flex;
  justify-content: space-between;
}
.sb-menu-item.sb-menu-item-sm .sb-cover-frame {
  width: 60px;
  height: 60px;
  padding-bottom: 0;
}
.sb-menu-item.sb-menu-item-sm .sb-card-tp {
  width: calc(100% - 60px);
  box-shadow: none;
}
.sb-menu-item.sb-menu-item-sm .sb-card-tp .sb-card-title {
  font-size: 14px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  color: white; /* Change text color to white */
}
.sb-menu-item.sb-menu-item-sm .sb-card-tp .sb-price {
  font-size: 18px;
}
.sb-menu-item.sb-menu-item-sm .sb-card-tp .sb-price sub {
  font-size: 9px;
}
.sb-menu-item:hover .sb-cover-frame img {
  transform: scale(1.05);
}
.sb-menu-item:focus {
  outline: inherit;
}
.sb-ib-title-frame {
  color: white; /* Change color of the heading */
}
.sb-ib-title-frame .fa-arrow-down {
  color: white; /* Change color of the icon */
}
