.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .hero-section h1 {
    z-index: 1;
    position: relative;
    font-size: 3rem;
  }
  
  .hero-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .hero-image-container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
  }
  
  .hero-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    pointer-events: none;
  }
  