/* Default styles */
.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  width: 100vw;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left img {
  width: 100%;
  height: 100%;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-content-left .logo {
  width: 50%;
  height: 50%;
}

.footer-content-left ul li,
.footer-content-center ul li,
.footer-content-right ul li {
  margin-bottom: 10px;
  list-style: none;
}

.footer-content-left h2,
.footer-content-center h2,
.footer-content-right h2 {
  color: white;
}

.footer-social-icons img {
  width: 40px;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
}

.footer li {
  cursor: pointer;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0px;
}

.babyfoot {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15vw;
}

.babyfoot .babyfootlinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

/* Media query for screens up to 750px */
@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer {
    padding: 20px 5vw;
    padding-top: 60px;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }

  .babyfoot {
    flex-direction: column;
    gap: 10px;
  }

  .babyfoot .babyfootlinks {
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer-content-left img {
    align-self: center;
  }
}
