.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: #000000;
    margin-top:3rem;
  }
  
  .card {
    background-color: #ffff;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 32px); 
    height: 494px;
    padding: 23px 28px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; 
  }
  
  .card:hover{
    transform: translateY(20px);
  }
  .card-img {
    width: 100%;
    height: 260px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px; 
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.99px;
    margin-bottom: 10px;
  }
  
  .card-content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 21.79px;
    max-width: 333px;
    height: 66px;
    margin-bottom: 20px;
  }
  
  
.card-button {
    display: flex;
    justify-content: center; 
  }
  
  .card-button button {
    width: 100%; 
    max-width: 343px; 
    height: 57px;
    border-radius: 4px;
    padding: 15px 44px;
    background-color: #FDCF09;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    border: none;
    color: #fff; 
    transition: all 0.3s;
  }
  .card-button button:hover{
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.3) ;
    transform: translateY(8px)
  }
  

@media (max-width: 1024px) {
    .card {
      width: 399px; 
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: 399px;
    }
  }
  
  @media (max-width: 420px){
    .card-button button{
        margin-top: 10px;
    }
  }