body {
  margin: 0;
  cursor: none;
}

.cursorFollower {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(255, 252, 252);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}

.cursorFollowerDot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background: #fff6f6;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}
