/* Default styles */
.main {
    width: 100vw;
    min-height: 0vh;
    background-color: rgb(0, 0, 0);
}

.main .mainhead {
    font-size: 5vw;
    padding: 2vw 10vw;
    color: white;
}

.main .menulists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main .menulists .menulist {
    width: 40vw;
    min-height: 18vw;
    background-color: #ffffff;
    margin: 2vw;
    border-radius: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    gap: 2vw;
}

.main .menulists .menulist:hover {
    background-color: #fdcf08;
}

.menulist .menuimg {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    overflow: hidden;
}
.menulist .menuimg img{
    width: 100%;height: 100%;object-fit: cover;
}

.menulist .menucontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
}

.menucontent .para {
    font-size: 1.5vw;
    font-size: black;
}

/* Media queries for responsiveness */

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .main .mainhead {
        font-size: 7vw;
        padding: 3vw 5vw;
    }

    .main .menulists .menulist {
        width: 80vw;
        min-height: 30vw;
        border-radius: 1vw;
        margin: 3vw 0;
    }

    .menulist .menuimg {
        width: 20vw;
        height: 20vw;
    }

    .menulist .menuimg img{
    width: 100%;height: 100%;object-fit: cover;
}

    .menulist .menucontent {
        gap: 2vw;
    }

    .menucontent .para {
        font-size: 3vw;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    .main .mainhead {
        font-size: 10vw;
        padding: 4vw 5vw;
    }

    .main .menulists .menulist {
        width: 90vw;
        min-height: 40vw;
        border-radius: 1vw;
        margin: 4vw 0;
    }

    .menulist .menuimg {
        width: 30vw;
        height: 30vw;
    }

    .menulist .menuimg img{
    width: 100%;height: 100%;object-fit: cover;
}

    .menulist .menucontent {
        gap: 3vw;
    }

    .menucontent .para {
        font-size: 4vw;
    }
}
