@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

/* Style the vertical and horizontal scrollbar track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Style the vertical and horizontal scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 10px;
}

/* Style the vertical and horizontal scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}

/* Set the width of the vertical scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Set the height of the horizontal scrollbar */
::-webkit-scrollbar {
  height: 0px;
}

:root {
  --cursor-color: rgb(253, 253, 252);
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .app {
  width: 100%;
  margin: auto;
} */
.app {
  /* overflow-x: hidden; */
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1050px) {
  .app {
    width: 100%;
    background-color: black;
    overflow-x: hidden;
  }
}

@media screen and (0<=width <=768px) {
  .custom-animated-cursor {
    display: none;
  }
}

iframe{
  z-index: 2 !important;
}