.header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 6vw;
}

.header .header-contents {
    width: 50%;
    padding: 0 3vw;
    height: auto;
    box-sizing: border-box;
}

.header-contents h2 {
    font-size: 5vw;
    color: #fdcf08;
    padding: 7vw 0 2vw;
}

.header-contents p {
    font-size: 1.5vw;
    color: white;
    line-height: 2vw;
}

.overlay-img {
    position: absolute;
    /* top: 0; */
    left: -30%;
    bottom: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 2; 
    overflow: hidden;
    pointer-events: none;
    gap: 5px;

}

.overlay-img img {
    width: calc(100% / 7); 
    height: 500px; 
    object-fit: cover;
    flex-shrink: 0; 
    border: none; 
}


.overlay-img img + img {
    margin-left: 2px;
}

.header-contents button {
    font-size: 1.5vw;
    font-weight: 600;
    border: none;
    background-color: #fdcf08;
    padding: 1vw 16vw;
    border-radius: 4px;
    margin: 3vw 0;
}

.header .header-img {
    width: 466px;
    height: 466px;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
   
}
.header .header-img .header-main_img{
    box-shadow: 0 25px 40px rgba(253, 207, 8, 0.5);
    opacity: 1;
}
.header-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
    position: relative; 
    z-index: 1;

}

/* Radiant Background */
/* .radiant-background2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(222, 187, 33, 0.622) 0%, transparent 90%);
    transform: translate(-50%, -50%);
    z-index: 0; 
    pointer-events: none;
} */

/* Media Query for screens 800px or smaller */
@media (max-width: 800px) {
    .header {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 35vw;
    }

    .header .header-contents {
        width: 90%;
        padding: 2vw;
        text-align: center;
    }

    .header-contents h2 {
        font-size: 10vw;
        padding: 0vw 0 6vw;
    }

    .header-contents p {
        font-size: 4.5vw;
        line-height: 5vw;
        padding: 0 0 6vw;
    }

    .header-contents button {
        font-size: 3.5vw;
        padding: 2vw 14vw;
        margin: 0 0 6vw;
        border-radius: 1vw;
    }

    .header .header-img {
        width: 80%;
        height: auto;
        padding: 2vw;
    }

    .header-img img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        aspect-ratio: 1;
        box-shadow: none;
    }
}
