.placeOrder {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.placeOrder .Orderpeace {
  margin: 2vw;
  width: 80%;
  min-height: 80%;
  border: 1px solid #f3e413;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Orderpeace .Orderimg {
  width: 40%;
  height: 100%;
}
.Orderpeace .Orderimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Orderpeace .OrderContent {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
  flex-wrap: wrap;
  color: white;
  padding: 2vw 2vw;
}

.OrderContent .rates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rates h1 {
  font-size: 2vw;
  color: #fdcf08;
}

.rates .rating {
  font-size: 2vw;
}

.OrderContent h1 {
  font-size: 2.5vw;
}
.OrderContent p {
  font-size: 1.5vw;
}

.OrderContent .option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.option .multi-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.multi-select .minus,
.multi-select .add {
  width: 3.5vw;
  height: 3.5vw;
  background-color: #f0db1e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  border-radius: 50%;
  color: black;
  font-weight: 700;
}

.option button {
  border: none;
  background-color: #fdcf08;
  padding: 1vw 2vw;
  font-size: 2vw;
  border-radius: 1vw;
  font-weight: 700;
}

/* Media Queries */
@media (max-width: 1200px) {

  .placeOrder .Orderpeace {
    margin: 2vw;
    width: 80%;
    min-height: 80%;
    border: 1px solid #f3e413;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

  .Orderpeace .OrderContent h1 {
    font-size: 2.2vw;
  }
  .OrderContent p {
    font-size: 1.3vw;
  }
  .rates h1,
  .rates .rating {
    font-size: 1.8vw;
  }
  .multi-select .minus,
  .multi-select .add {
    width: 3vw;
    height: 3vw;
    font-size: 1.7vw;
  }
  .option button {
    padding: 0.8vw 1.5vw;
    font-size: 1.8vw;
  }

  .OrderContent .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2vw 0;
    /* gap: 5vw; */
}
}

@media (max-width: 992px) {
  .Orderpeace .OrderContent h1 {
    font-size: 2vw;
  }
  .OrderContent p {
    font-size: 1.2vw;
  }
  .rates h1,
  .rates .rating {
    font-size: 1.5vw;
  }
  .multi-select .minus,
  .multi-select .add {
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.5vw;
  }
  .option button {
    padding: 0.6vw 1.2vw;
    font-size: 1.5vw;
  }
}

@media (max-width: 768px) {
  .Orderpeace {
    flex-direction: column;
  }
  .Orderpeace .Orderimg {
    width: 100%;
    height: auto;
  }
  .Orderpeace .OrderContent {
    width: 100%;
    padding: 2vw 3vw;
  }
  .Orderpeace .OrderContent h1 {
    font-size: 3vw;
  }
  .OrderContent p {
    font-size: 1.8vw;
  }
  .rates h1,
  .rates .rating {
    font-size: 2vw;
  }
  .multi-select .minus,
  .multi-select .add {
    width: 4vw;
    height: 4vw;
    font-size: 2.5vw;
  }
  .option button {
    padding: 1vw 2vw;
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  .Orderpeace {
    flex-direction: column;
  }
  .Orderpeace .Orderimg {
    width: 100%;
    height: auto;
  }
  .Orderpeace .OrderContent {
    width: 100%;
    padding: 2vw 2vw;
  }
  .Orderpeace .OrderContent h1 {
    font-size: 4vw;
  }
  .OrderContent p {
    font-size: 2.5vw;
  }
  .rates h1,
  .rates .rating {
    font-size: 2.5vw;
  }
  .multi-select .minus,
  .multi-select .add {
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
  }
  .option button {
    padding: 1.2vw 2.5vw;
    font-size: 2.5vw;
  }
}

@media (max-width: 375px) {
  .Orderpeace .OrderContent h1 {
    font-size: 5vw;
  }
  .OrderContent p {
    font-size: 3vw;
  }
  .rates h1,
  .rates .rating {
    font-size: 3vw;
  }
  .multi-select .minus,
  .multi-select .add {
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
  }
  .option button {
    padding: 1.5vw 3vw;
    font-size: 3vw;
  }
}
