.Menubtn {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw; 
  padding: 1rem;
  overflow-x: hidden; 
  
}

.Menubtn button {
  width: 197px; 
  height: 52px; 
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 30px; 
  background-color: #000000;
  border: 2px solid #fdcf08;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  white-space: nowrap; 
}

.Menubtn button:hover {
  background-color: #fdcf08;
  color: rgb(0, 0, 0);
}

.btnmain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
  padding: 20px; 
  width: 100vw;
}

.btnmain p {
  font-size: 1.5rem; 
  color: white;
  text-align: center;
  padding: 2vw 4vw;
}

.filter-heading {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: auto;
  padding: 1rem;
  background-color: rgb(31, 29, 29);
  margin: 0 6rem;
  position: sticky;
  top: 20%; /* Adjust as needed */
  z-index: 1001; /* Ensure it's above other elements */
  display: none;
}

.filter-heading i {
  margin-right: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .Menubtn button {
    font-size: 1rem;
  }

  .btnmain p {
    font-size: 2rem;
    padding: 3vw 5vw;
  }
}

@media (max-width: 1045px) {
  .filter-heading {
    display: flex; /* Show filter heading */
  }
  .Menubtn {
    position: sticky;
    top: 30%;
    background-color: rgb(31, 29, 29); 
  }
}

@media (max-width: 992px) {
  .Menubtn button {
    font-size: 1rem;
  }

  .btnmain p {
    font-size: 1.5rem;
    padding: 3vw 4vw;
  }
}
@media (max-width: 950px) {
  .Menubtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .Menubtn button {
    font-size: 1rem;
  }

  .btnmain p {
    font-size: 1.2rem;
    padding: 3vw 4vw;
  }
}

@media (max-width: 576px) {
  .Menubtn button {
    font-size: 0.9rem;
  }

  .btnmain p {
    font-size: 1rem;
    padding: 3vw 4vw;
  }
}
@media (max-width: 487px){
  .Menubtn button {
    width: 137px; 
    height: 42px; 
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media (max-width: 367px) {
  .Menubtn button {
    font-size: 0.8rem;
  }

  .btnmain p {
    font-size: 0.9rem;
    padding: 3vw 4vw;
  }
  .Menubtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
