.Menubtn {
  width: 100vw!important;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw; 
  padding: 7vw;
  overflow-x: hidden; 
}

.Menubtn button {
  width: 197px; 
  height: 52px; 
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 30px; 
  background-color: #000000;
  border: 2px solid #fdcf08;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  white-space: nowrap; 
}

.Menubtn button:hover {
  background-color: #fdcf08;
  color: rgb(0, 0, 0);
}

.btnmain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
  padding: 20px; 
}

.btnmain p {
  font-size: 1.5rem; 
  color: white;
  text-align: center;
  padding: 2vw 4vw;
}

/* Media Queries */
@media (max-width: 1200px) {
  .Menubtn button {
    font-size: 1rem;
  }

  .btnmain p {
    font-size: 2rem;
    padding: 3vw 5vw;
  }
}

@media (max-width: 992px) {
  .Menubtn button {
    font-size: 1rem;
  }

  .btnmain p {
    font-size: 1.5rem;
    padding: 3vw 4vw;
  }
}

@media (max-width: 768px) {
  .Menubtn button {
    font-size: 1rem;
  }

  .btnmain p {
    font-size: 1.2rem;
    padding: 3vw 4vw;
  }
}

@media (max-width: 576px) {
  .Menubtn button {
    font-size: 0.9rem;
  }

  .btnmain p {
    font-size: 1rem;
    padding: 3vw 4vw;
  }
}

@media (max-width: 360px) {
  .Menubtn button {
    font-size: 0.8rem;
  }

  .btnmain p {
    font-size: 0.9rem;
    padding: 3vw 4vw;
  }
}
