@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.section-section__container {
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start; 
    align-items: flex-start;
    margin-bottom: 3rem;
}

.content-box {
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    width: calc(33.33% - 5px); 
    max-width: 480px; 
}

.left-number {
    flex: 0 0 80px;
    text-align: center;
    padding: 5px;
    width: 55px;
    line-height: 77px;
    font-size: 40px;
    color: #FDCF09;
    font-style: normal;
}
.left-number h1{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
}

.right-content {
    padding-left: 3rem;
}

.right-content h2 {
    color: #FFFFFF;
    line-height: 26px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.right-content p {
    line-height: 24px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Open Sans", sans-serif ;
    color: #FFFFFF;
    margin-top: 10px;
}
@media (max-width: 992px) {
    .content-box {
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .section-section__container {
        padding: 2rem;
    }

    .content-box {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .left-number {
        flex: 0 0 60px;
        line-height: 60px;
        font-size: 30px;
    }

    .right-content {
        padding-left: 2rem;
    }

    .right-content h2 {
        font-size: 18px;
    }

    .right-content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .section-section__container {
        padding: 1.5rem;
    }

    .left-number {
        flex: 0 0 50px;
        line-height: 50px;
        font-size: 24px;
    }

    .right-content {
        padding-left: 1.5rem;
    }

    .right-content h2 {
        font-size: 16px;
    }

    .right-content p {
        font-size: 0.8rem;
    }
}